body{
 background-color: #34202b;
}

@font-face {
  font-family: title;
  src: url(GR-NORCH.otf);
}

.title {
  text-align: center;
  font-family: title;
  color: #ffeb3b;
  font-size: 100px;
  margin-bottom: 0px;
   margin-top: 0px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #f58f10, 0 0 20px #a09424, 0 0 30px #a09424, 0 0 40px #a09424, 0 0 50px #a09424, 0 0 60px #a09424, 0 0 70px #a09424;
}
  
  to {
    text-shadow: 0 0 20px #4a3908, 0 0 30px #a09424, 0 0 40px #a09424, 0 0 50px #a09424, 0 0 60px #a09424, 0 0 70px #a09424, 0 0 80px #a09424;
}
}
