
@font-face {
  font-family: odibee;
  src: url(/img/PatrickHand.ttf);
}

body {
  font-family: Courier, "Lucida Console", monospace;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1d212d;
}

p{
  padding-bottom: 2px;
}
#container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: title;
  src: url(GR-NORCH.otf);
}

.title {
  text-align: center;
  font-family: title;
  color: #ffeb3b;
  font-size: 60px;
  margin-bottom: 0px;
   margin-top: 0px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.jumbotron{
  background-image: url("/DVI//img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.btn{
  padding-left: 25px;
  padding-right: 25px;
}

.light{
  color:rgb(236, 236, 236)
}

.table-dark {
  color: #fff;
  background-color: #25252500;
}

.keycap{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: 25px;
  background-color: rgb(22, 22, 22);
  color:rgb(236, 236, 236)
}

.btn-primary{
  background-color: #1d212d;
  border: 1px solid rgb(224, 211, 30)
}
.btn-primary:hover{
  background-color: rgb(224, 211, 30);
}

.bg-dark {
  background-color: #1f1f1f!important;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #f58f10, 0 0 20px #a09424, 0 0 30px #a09424, 0 0 40px #a09424, 0 0 50px #a09424, 0 0 60px #a09424, 0 0 70px #a09424;
}
  
  to {
    text-shadow: 0 0 20px #4a3908, 0 0 30px #a09424, 0 0 40px #a09424, 0 0 50px #a09424, 0 0 60px #a09424, 0 0 70px #a09424, 0 0 80px #a09424;
}
}
